* {
  font-family: Verdana, Geneva, Tahoma, sans-serifs;
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100%;
}

header {
  padding: 20px 40px;
  border-top: 10px solid orange;
  width: 100%;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
}

.logo {
  width: 120px;
}

.buscador {
  width: 40%;
  height: 40px;
  background-color: #3e3e3e;
  padding: 0px 20px;
}

.buscador input {
  width: 80%;
  height: 100%;
  background-color: transparent;
  border: none;
}

.buscador button {
  width: 18%;
  height: 100%;
  background-color: transparent;
  border: none;
  color: orange;
}

header a {
  color: whitesmoke;
}

.enlaces-usuario ul {
  display: flex;
}

.enlaces-usuario ul li {
  margin-left: 15px;
}

.enlaces-usuario ul li :hover {
  color: orange;
}

.tabs-navegacion ul {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.tabs-navegacion ul :hover{
  color: orange;
  }
main {
  width: 100%;
  height: 100%;
}

.banner-portada {
  width: 100%;
}

.contenedor-subportadas {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.subportadas {
  width: 50%;
}

.seccion-recomendados {
  width: 100%;
  margin: 35px 0px;
}

.seccion-recomendados h1 {
  padding: 35px 50px;
}

.contenedor-tarjeta-recomendados {
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
}

.tarjeta-recomendados {
  max-width: 30%;
  border: 1px solid #3e3e3e;
  padding: 20px;
}

.tarjeta-recomendados img {
  max-width: 100%;
}

.tarjeta-recomendados div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tarjeta-recomendados div h4 {
  font-weight: lighter;
}

.tarjeta-recomendados div p {
  font-weight: bolder;
  font-size: 25px;
}

.tarjeta-recomendados div button {
  border: none;
  padding: 15px;
  border-radius: 5px;
  font-size: larger;
  background-color: orange;
}

.tarjeta-recomendados div button :hover {
  background-color: rgb(177, 115, 0);
}

.banner-publicitarios {
  width: 100%;
}


.seccion-marcas {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.seccion-marcas .logo-marcas {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.seccion-marcas .logo-marcas li a img {
  width: 10vw;
}

.seccion-suscripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 50px 80px;
  margin-top: 25px;
  background-color: darkorange;
}

.seccion-suscripcion .contenedor-inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.seccion-suscripcion .contenedor-inputs form {
  display: flex;
  gap: 30px;
  width: 100%;
}

.seccion-suscripcion .contenedor-inputs form div {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.seccion-suscripcion .contenedor-inputs button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #3e3e3e;
  color: whitesmoke;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: #c7c7c7;
  padding: 30px;
}

footer p {
  font-size: smaller;
}

.redes-sociales {
  display: flex;
  justify-content: space-between;
}

.logo-footer {
  max-width: 150px;
  height: 75px;
}

.iconos-redes-sociales {
  display: flex;
  align-items: center;
  gap: 2px;
}

.iconos-redes-sociales img {
  width: 30px;
}

.lista-links {
  display: flex;
}

.lista-links ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.lista-links ul li :hover {
  color: orange;
}

.redes-sociales button {
  height: fit-content;
  padding: 7px;
  border-radius: 5px;
  background-color: #888888;
  color: whitesmoke;
}